{% extends 'base_dashboard.html.twig' %}

{% block title %}Importer Colis - LivrExpress{% endblock %}

{% block body %}
    <main class="grow pt-5" id="content" role="content">
        <div class="kt-container-fixed">
            <h1 class="text-xl font-medium leading-none text-mono pb-6">Importer Colis</h1>
            <div class="kt-card">
                <div class="kt-card-content p-6">
                    <p class="text-sm text-secondary-foreground">Ecran d'import a connecter (CSV/Excel).</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
